<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="true"
        android:label="角色卡文件工具"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">

        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="unspecified" />

        <activity
            android:name=".GuardedCardRenamerActivity"
            android:exported="false"
            android:screenOrientation="unspecified" />

        <activity
            android:name=".GuardedCardBrowserActivity"
            android:exported="false"
            android:screenOrientation="unspecified" />

        <activity
            android:name=".CardDetailActivity"
            android:exported="false"
            android:screenOrientation="unspecified" />

        <activity
            android:name=".FullScreenTextActivity"
            android:exported="false"
            android:screenOrientation="unspecified" />

        <activity
            android:name=".FullScreenImageActivity"
            android:exported="false"
            android:screenOrientation="unspecified" />
    </application>
</manifest>
